<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ninda.sabilla.chromeinc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="ninda.sabilla.chromeinc.utils.Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="ninda.sabilla.chromeinc.activity.NotifActivity"></activity>
        <activity
            android:name="ninda.sabilla.chromeinc.activity.request.reqBarang.ReqBarangActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.request.daftarReqBarang.DaftarReqBarangActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.transaksi.tambahTransaksi.lama.DaftarCustomerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.transaksi.tambahTransaksi.baru.TransaksiCustomerBaruActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.transaksi.detailTransaksi.DetailTransaksiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.transaksi.daftarTransaksi.DaftarTransaksiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ninda.sabilla.chromeinc.activity.dashboard.DashboardActivity"
            android:theme="@style/MyTheme2" />
        <activity android:name="ninda.sabilla.chromeinc.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>